﻿body {
    background-color: orange;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

body {
 background-image: url("wall01.jpg");
 background-color: #cccccc;
}

.login-page {
    width: 360px;
    padding: 0 0 0;
    margin: 0 auto 20px;
}
.form {
    position:relative;
    z-index:1;
    background: ;
    max-width:380px;
    margin: 0 auto 110px;
    padding:50px;
    text-align:left;
}
    .form input {
        font-family:"Roboto", sans-serif;
        outline:1;
        background: grey;
        width: 100%;
        border:0;
        margin: 0 0 20px;
        box-sizing: border-box;
        font-size:16px;
    }
    .form button {
        font-family:"Roboto", sans-serif;
        text-transform: uppercase;
        outline:0;
        background: #ab0000;
        width:100%;
        border:0;
        padding:15px;
        color: #FFFFFF;
        font-size 14px;
        cursor:pointer;
    }

    .form .message {
        margin:20px 0 0;
        color:red;
        font-size: 14px;
    }
    .form .message a {
        color: #ff7300;
        text-decoration: none;
    }

.topnav {
  	margin: 0 auto;
    background-color: red;
    overflow: hidden;
}
	.topnav a {
    	float: left;
    	color: white;
    	text-align: left;
   		 padding: 16px 16px;
    	text-decoration: none;
   		font-size: 20px;
	}
	.topnav a:hover {
    	background-color: grey;
    	color: black;
	}
	.topnav a.active {
   		background-color: black;
    	color: white;
	}

th {
    text-align: left;
}
.default-spacer{
    margin-right:150px;
}